<html>

<head>

    <title>Movie App</title>

    <link rel="stylesheet" href="/_static/style.css"/>

</head>

<body>

<div class="list-movies-title">

    <h1>NETFLIX FüR ARME</h1>

</div>

<div>

    <ol class="movie-grid">

        <li>
<div class="movie">
<img class="movie-poster" src=https://m.media-amazon.com/images/M/MV5BNzY3OWQ5NDktNWQ2OC00ZjdlLThkMmItMDhhNDk3NTFiZGU4XkEyXkFqcGc@._V1_SX300.jpg title>
<div class="movie-title">Joker</div>
<div class="movie-year">2019</div>
</div>
</li>
<li>
<div class="movie">
<img class="movie-poster" src=https://m.media-amazon.com/images/M/MV5BM2IwZDRiOTAtNTUxOC00ZWQxLThlYTYtZTM2NTRmMjEzNmQwXkEyXkFqcGdeQXVyODAzNzAwOTU@._V1_SX300.jpg title>
<div class="movie-title">James Bond</div>
<div class="movie-year">2015</div>
</div>
</li>
<li>
<div class="movie">
<img class="movie-poster" src=https://m.media-amazon.com/images/M/MV5BMTU2NjA1ODgzMF5BMl5BanBnXkFtZTgwMTM2MTI4MjE@._V1_SX300.jpg title>
<div class="movie-title">John Wick</div>
<div class="movie-year">2014</div>
</div>
</li>
<li>
<div class="movie">
<img class="movie-poster" src=https://m.media-amazon.com/images/M/MV5BOGUwMDk0Y2MtNjBlNi00NmRiLTk2MWYtMGMyMDlhYmI4ZDBjXkEyXkFqcGc@._V1_SX300.jpg title>
<div class="movie-title">Star Wars: Episode IV - A New Hope</div>
<div class="movie-year">1977</div>
</div>
</li>
<li>
<div class="movie">
<img class="movie-poster" src=https://m.media-amazon.com/images/M/MV5BZmIwZjA1NzUtNTA0OS00OWMyLWE5MzctM2RjOWYxZjQyZDdmXkEyXkFqcGc@._V1_SX300.jpg title>
<div class="movie-title">Dirty Dancing</div>
<div class="movie-year">1987</div>
</div>
</li>
<li>
<div class="movie">
<img class="movie-poster" src=https://m.media-amazon.com/images/M/MV5BMGNlYmM1NmQtYWExMS00NmRjLTg5ZmEtMmYyYzJkMzljYWMxXkEyXkFqcGc@._V1_SX300.jpg title>
<div class="movie-title">Die Hard</div>
<div class="movie-year">1988</div>
</div>
</li>
<li>
<div class="movie">
<img class="movie-poster" src=https://m.media-amazon.com/images/M/MV5BNDYwNzVjMTItZmU5YS00YjQ5LTljYjgtMjY2NDVmYWMyNWFmXkEyXkFqcGc@._V1_SX300.jpg title>
<div class="movie-title">Forrest Gump</div>
<div class="movie-year">1994</div>
</div>
</li>


    </ol>

</div>

</body>

</html>
